*{
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(206, 206, 41);
    background-image: url("https://images.unsplash.com/photo-1697450229849-30db7a91427e?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 2500px;
    overlow-y: scroll;
}

header{
    height: 50px;
    width: 500px;
    background-color: red;
    display: block;
    opacity: 0.25;
    margin: auto;
}

#start{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    gap: 50px;
    border: solid;
    margin: auto;
}

.button{
    border: solid rgb(255, 102, 0);
}
